# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
*.sqlite3

# Node / Next.js
node_modules/
.next/
dist/
build/

# Logs
*.log

# System files
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Editor
.vscode/
.idea/

# Misc
*.iml
*.swp
*.swo
*~
coverage/
