# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
*.sqlite3
backend/.env

# Next.js / Node
node_modules/
frontend/node_modules/
.next/
frontend/.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Build outputs
dist/
build/

# Build / Cache
.cache/
*.gz

# Environment and local files
.env
.env.local
.env.development
.env.production
.env.test
.env.*.local

# Editor
.vscode/
.idea/

# Misc
*.iml
*.swp
*.swo
*~
coverage/
