fastapi
uvicorn[standard]
motor
python-dotenv
pydantic-settings
email-validator
certifi
passlib[bcrypt]
python-jose[cryptography]
python-multipart
easyocr
pymupdf
pillow
numpy<3
scikit-learn
pandas
joblib
spacy
torch
openai
