fastapi
uvicorn[standard]
motor
python-dotenv
pydantic-settings
email-validator
passlib[bcrypt]
python-jose[cryptography]
python-multipart
easyocr
pymupdf
pillow
numpy<2
scikit-learn
pandas
joblib
spacy
torch
openai
